.homeHero {
  width: 70vw;
  height: 100vh;
  background: url("https://photos.zillowstatic.com/cc_ft_1536/IS2rdjd59xi2ro0000000000.webp")
    no-repeat center center / cover;
  transition: 0.7s ease-in-out;
}

.full {
  width: 100vw;
  height: 100vh;
  background: url("https://photos.zillowstatic.com/cc_ft_1536/IS2rdjd59xi2ro0000000000.webp")
    no-repeat center center / cover;
}
